.card{
    display: flex;
    background-color: white;

    border: 1px solid rgb(217,217,217);
    border-radius: 15px;

    margin: 57px 49px;

    width: 329px;
    height: 161px;

    display: inline-block;
    position: relative;
    font-family: 'Nunito',sans-serif;

}

.card-header{
    padding-left: 13px;
    padding-top: 10px;
    padding-right: 13px;
    padding-bottom: 10px;
}
.info{
   margin-top: 50px;
  
   padding-left: 2px;
}


.nombre{
    
    font-size: 20px;
    height: 20px;
    width: 279px;
    margin-bottom: 15px;

}

.codigo {
    font-size: 14px;
    height: 20px;
    width: 279px;
    margin-bottom: 7px;
    
}

.tema{
    color: rgb(114,114,114);
    font-size: 14px;
    height: 22px;
    width: 279px;
}



.aside{
    position: absolute;
    right: 13px;
    top: 18px;
}

.boton {

    background-color: rgb(8,132,252);
    width: 156px;
    height: 34px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    
}

.button:hover {
    background-color: rgb(8,132,252);
}